* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 96px 0 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #462E6A;
}

.menu-items {
  display: flex;
  gap: 66px;
  list-style: none;
  margin-right: 166px;
}

.menu-item a {
  font-size: 18px;
  font-weight: 400;
  color: #1F1534;
  text-decoration: none;
}

.menu-item a:hover {
  font-weight: 700;
  color: #2E4E92;
}



.footer {
  height: 100px;
  background: linear-gradient(183deg, #6888C8 -8.57%, #5A98F2 82.96%);
}

foo